@import '../assets/sass/variables';

.header {
	position: relative;
	height: 100vh;

	&__nav {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $nav-height;
		z-index: 3000;
		// background-image: linear-gradient(90deg, rgba($blue-color, .4), rgba($pink-color, .4));
	}

	&__logo {
		z-index: 1000;
		font-size: 3rem;
	}

	&__list {
		z-index: 1000;
	}

	&__icon {
		cursor: pointer;
		font-size: 2.4rem;
	}
}
