@import '../../assets/sass/variables';

.post {
	position: relative;

	display: flex;
	flex-direction: column;

	// width: 52rem;
	height: 96rem;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;

	background: #f5f5f5;

	overflow: hidden;

	&__option {
		position: absolute;
		right: 1.6rem;
		top: 1.6rem;
		z-index: 1;

		cursor: pointer;

		i {
			font-size: 2rem;
			color: $orange-color;
		}

		div {
			background-color: $blue-color;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
				rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
			p {
				margin: 2rem 0;
			}
		}
	}

	&__img {
		max-width: 100%;
		position: relative;
		aspect-ratio: 17/9;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 100%;
		}
	}

	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;

		margin: 5rem 4rem 0;
	}

	&__title {
		font-size: 3.8rem;
		line-height: 1.2;
		text-transform: capitalize;
	}

	&__desc {
		flex: 1;
		margin-top: 2rem;

		line-height: 1.8;
	}

	&__desc,
	&__genre {
		font-size: 2.2rem;
		font-weight: 500;
	}

	&__genre {
		display: flex;
		align-items: center;

		padding: 2.6rem 0;
		border-top: 1px solid #ccc;

		.separate {
			width: 1.8rem;
			height: 0.1rem;
			margin: 0 1rem;

			background: #999;
		}
	}

	&__icon {
		margin-right: 0.8rem;
		color: $pink-color;

		i {
			font-size: 2.4rem;
		}
	}
}
