@import '../../../../assets/sass/variables';

.filter {
	margin-top: 8rem;

	h3 {
		font-size: 4.8rem;
		letter-spacing: 0.2rem;
	}

	h3,
	li {
		color: $text-dark-color;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: space-around;

		height: 6.4rem;
		width: 72rem;
		margin: 5.6rem 0 7.2rem;
		border-radius: 4rem;

		list-style: none;

		background-color: $bg-gray-color;

		li {
			padding: 0.8rem 2.4rem;
			border-radius: 1.6rem;

			font-weight: 500;
			font-size: 1.8rem;
			cursor: pointer;

			&:hover {
				background-color: #eee;
			}
		}
	}
}
