@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import '../assets/sass/variables';

.footer {
	padding-top: 6.4rem;
	padding-bottom: 2.4rem;
	margin-top: 7.2rem;

	background-color: $text-dark-color;

	h4 {
		font-family: 'Cardo', serif;
		font-size: 4.8rem;
	}

	p {
		font-size: 1.5rem;

		em {
			color: #00798c;
		}
	}

	h4,
	p,
	i {
		color: white;
	}

	&__icons {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 2.4rem;
		margin-bottom: 6.4rem;

		i {
			padding: 0.4rem;
			margin: 0 0.8rem;
			font-size: 2rem;
			cursor: pointer;
		}
	}
}
