@import '../../assets/sass/variables';

.post-create {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.color {
		position: absolute;
		border-radius: 50%;
		filter: blur(15rem);

		&:nth-child(1) {
			width: 91%;
			height: 80%;
			top: -37%;
			left: 4%;

			background-color: $pink-color;
		}

		&:nth-child(2) {
			width: 92%;
			height: 80%;
			left: 4%;
			bottom: -34%;

			background-color: $yellow-color;
		}

		&:nth-child(3) {
			width: 86%;
			height: 80%;
			bottom: -34%;
			left: 7%;

			background-color: $blue-color;
		}
	}

	.box {
		position: absolute;
	}

	&__box {
		position: relative;
		z-index: 1;

		max-height: 100%;
		max-width: 100rem;
		width: 100%;

		padding: 3rem 6rem 1.6rem;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
		border-radius: 1rem;

		background: rgba(255, 255, 255, 0.05);

		overflow: hidden auto;
	}

	h3 {
		position: relative;

		margin-bottom: 3.2rem;

		font-size: 3.4rem;
		color: $text-white-color;

		&::after {
			content: '';
			position: absolute;
			bottom: -0.6rem;
			left: 0;

			height: 0.6rem;
			width: 14rem;

			background-color: white;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;

		input {
			border-radius: 3.5rem;
		}

		input,
		textarea {
			border: none;
			outline: none;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

			margin-bottom: 2rem;
			padding: 1.8rem 2.2rem;

			background-color: rgba(255, 255, 255, 0.15);

			&::placeholder {
				color: $text-white-color;
				font-weight: 600;
			}
		}

		textarea {
			height: 10rem;
			border-radius: 2rem;

			&[name='content'] {
				height: 32rem;
			}
		}

		input[type='submit'] {
			width: 20rem;
			font-size: 2rem;
			background: white;
			font-weight: 600;
		}
	}
}
